<link rel="import" href="https://raw.githubusercontent.com/justin522/justin522.github.io/master/bower_components/polymer/polymer.html">

<dom-module id="☢-details">
	<link rel="import" href="../templates/☢-details.html">

	<script>
		/**
		 * @customElement
		 * @polymer
		 */
		class ☢Details extends Polymer.Element {
			static get is() { return '☢-details'; }
			static get properties() {
				return {
					prop1: {
						type: String,
						value: 'aos-wp'
					}
				};
			}
		}

		window.customElements.define(☢Details.is, ☢Details);
	</script>
</dom-module>